/*
  3D 卡片效果
    参考自：https: //mp.weixin.qq.com/s/mMkqwCksC-O_WsOlAWLL8g
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: '微软雅黑', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #f3f3f3; */
  overflow: hidden;
}

.container {
  width: 1050px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #fff;
  transition: 0.5s;
}

.container .card:hover {
  transform: translateY(-40px);
}

.container .card::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #00c0f6;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

.container .card::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 15px;
  height: 50%;
  background-color: #00c0f6;
  transform-origin: left;
  transform: skewY(45deg);
  transition: 0.5s;
  border-bottom: 200px solid #d9d9d9;
}

.container .card .img-box {
  width: 300px;
  height: 200px;
  background-color: #00c7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* justify-content: space-around; */
}

.container .card .img-box img {
  max-width: 100px;
}

.container .card .img-box h3 {
  color: #fff;
  margin-top: 10px;
}

.container .card .content {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 20px;
  text-align: center;
}

.container .card .content::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
  transform: skewX(45deg);
  transform-origin: bottom;
  transition: 0.5s;
  pointer-events: none;
  z-index: -1;
}

.container .card:hover .content::before {
  transform: translateY(40px) skewX(45deg);
  filter: blur(5px);
  opacity: 0.5;
}

.container .card:nth-child(1) {
  z-index: 3;
}

.container .card:nth-child(2) {
  z-index: 2;
}

.container .card:nth-child(3) {
  z-index: 1;
}
