.list-complete-item {
  /* transition: all 1s; */
  display: flex;
  flex-direction: column;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}
.list-complete-leave-active {
  position: absolute;
}
.list-complete-move{
  transition: transform 1s;
}

body{
  background-color: aquamarine;
}