/*
 * @Author: ZHT 
 * @Date: 2020-12-24 18:06:49 
 * @Last Modified by: ZHT
 * @Last Modified time: 2020-12-24 18:18:23
 */

/*
  flex 响应式布局
  参考：https: //mp.weixin.qq.com/s/DS62kzE1ZFcarmHET4KVzg

  说明：
    display: flex;
    flex-direction: row;
      row
      row-reverse
      column
      column-reverse
    flex-wrap: nowrap;
      nowrap
      warp
      warp-reverse
    flex-flow:row nowrap; 上面两个的缩写，具体值同上。
    flex-grow:1;  参数是数值；指定剩余空间的分配。
    flex-shrink:1;  参数是数值；元素默认主尺寸超过容器尺寸，指定怎么收缩。
    flex-basis:auto;  指定元素主轴上的初始大小；优先级比 width 高；
    flex: 0 1 auto; 上面三个的缩写；默认值是 0 1 auto；常用的是 flex:1; 

    justify-content: flex-start;  元素在主轴方向的对齐方式；
      flex-start
      flex-end
      center
      space-around
      space-between
      sapce-evenly
      baseline
      first-baseline
      last-baseline
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '微软雅黑', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  background-color: #33d1a0;
}

.container {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.container .box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  height: 520px;
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  background-color: #121c27;
}

.container .box .quto {
  max-width: 48px;
}

.container .box p {
  color: #fff;
  padding: 20px 0;
}

.container .box .user {
  max-width: 96px;
}

.container .box h3 {
  color: #33d1a0;
}

@media (max-width:1140px) {
  .container {
    justify-content: center;
  }
}

@media (max-width:768px) {
  .container .box {
    width: 100%;
    height: auto;
    padding: 30px 20px;
  }
}
