/*
  参考自：https://www.zhangxinxu.com/wordpress/2020/01/css-grid-auto-flow/
  grid-auto-flow：指定网关元素排列顺序
    取值：[row | column] || dense
      row：沿行方向流布局
      column： 沿列方向流布局
      dense：密集的意思，例如：当第一个不是从左上角开始的，设置了 dense 就会占据这个空缺
*/

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* .grid-item {
  border: 1px dashed rgb(211, 191, 231);
} */

.grid-item + .grid-item {
  border-top: 0;
}

.grid-1 .zht-grid {
  background-color: rgb(123, 196, 196);
  display: grid;
  /* 默认的是 row ，用这个可以排列*/
  /* grid-template: auto /1fr 1fr; */
  grid-auto-flow: column;
  grid-template: 1fr 1fr / auto;
  width: 600px;
  line-height: 80px;
}

.grid-1 .zht-grid .grid-item {
  text-align: center;
  background-color: lightyellow;
  border: 1px solid black;
  margin: 4px;
}

.grid-2 .zht-grid {
  /* width: 50%; */
  display: grid;
  grid-auto-flow: column;
  /* 是 grid-template-rows 和 grid-template-columns 的缩写 */
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  /* grid-template-areas: 'a b d''a c e'; */
  grid-gap: 6px;
}

.grid-2 .zht-grid .grid-item img {
  width: 200px;
  height: 200px;
}

.grid-2 .zht-grid .grid-item:first-child img {
  width: 400px;
  height: 400px;
}

.grid-2 .zht-grid .grid-item:first-child {
  /* 下面三种写的方式都一样 */
  /* 
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  这四个值的缩写 */
  /* 
  grid-row: 1 / 3;
  grid-column: 1 /2;
  也可以这样写 */
  grid-area: 1/1/3/2;
}
